<!-- Display a table showing information of all the boards -->
<table class="bordered highlight centered responsive-table">
	<thead>
		<tr>
			<th>Name</th>
      <th>Email</th>
      <th>Role</th>
			<th>Active</th>
		</tr>
	</thead>

	<tbody>
		<% for user in @employees %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= mail_to(user.email, user.email, encode: "javascript") %></td>
        <td><%= user.role.capitalize %></td>
        <td>
          <% if user.active? %>
            Y
          <% else %>
            N
          <% end %>
        </td>
      </tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @employees %>