<% if !logged_in? %>
  <h4><i class="medium material-icons">fiber_new</i>New Customer</h4>
  <h5>PLEASE NOTE: WE ONLY SHIP TO SCHOOLS, WE WILL NOT SHIP TO INDIVIDUALS.</h5>
<% else %>
  <h4><i class="medium material-icons">fiber_new</i>New User</h4>
<% end %>

<%= render partial: 'form' %>