<% if @purchases.empty? %>
  <h4>No purchases at this time.</h4>
<% else %>
  <h4>Recent Purchases</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Item</th>
        <th width="150">Quantity</th>
        <th width="150">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= link_to purchase.item.name, item_path(purchase.item) %></td>
          <td><%= purchase.quantity %></td>
          <td><%= purchase.date.strftime('%m/%d/%y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p>&nbsp;</p>