<h5>Reorder List</h5>

<% unless @items_to_reorder.nil? || @items_to_reorder.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="250">Name</th>
        <th width="125">Inventory</th>
        <th width="125">Reorder Level</th>
      </tr>
    </thead>
    <tbody>
      <% @items_to_reorder.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= item.inventory_level %></td>
          <td><%= item.reorder_level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no items that need to be reorder at this time.</p>
<% end %>