<h3>About</h3>

<p>	<%= image_tag 'about.jpg', class: "left" %>
    Our store believes in the importance of scholastic chess.  To help support 
    scholastic chess, we make chess equipment available to schools and other educational 
    organizations at wholesale prices.  This chess equipment is only available to schools; 
    we do not sell to individuals.
</p>