<h3>About</h3>

<p>	<%= image_tag 'about.jpg', class: "left" %>
    We are Alex and Mark Heimann, USCF and FIDE Chess 
    Masters who have graduated from college and want
    to help you! Our goal is help you develop your 
    chess skills and provide you with the necessary
    items to do so. That's why we are committed to
    giving you the best products at the most affordable
    prices. If your school or institution needs chess items, 
    then this is the store for you! Happy shopping!
</p>