<div class="row">
  <div class="small-7 columns">
    <h2><em>About the Chess Warehouse</em></h2>

    <p>
    	The Chess Warehouse believes in the importance of scholastic chess.  To help support 
        scholastic chess, we make chess equipment available to schools and other educational 
        organizations at wholesale prices.  This chess equipment is only available to schools; 
        we do not sell to individuals.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>