<h4><i class="medium material-icons">shopping_cart</i>Place your Order</h4>

<div id="order_cart_show">
  <%= render partial: 'partials/cart_tables'%>
</div>
<div id="order_form">
  <%= render partial: 'form' %>
</div>