
<% if @boards.empty? && @pieces.empty? && @clocks.empty? && @supplies.empty? %>
  <h3>There are no items in the system at this time</h3>
<% else %>
  <h3>Available Items at the Chess Warehouse</h3>

  <%= render partial: "current_items", locals: {items: @boards, item_type: "boards"}  %>

  <%= render partial: "current_items", locals: {items: @pieces, item_type: "pieces"} %>

  <%= render partial: "current_items", locals: {items: @clocks, item_type: "clocks"} %>

  <%= render partial: "current_items", locals: {items: @supplies, item_type: "supplies"} %>

<% end %>