<!-- Display a table showing information of all the boards -->
<table class="bordered highlight centered responsive-table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Inventory</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% for item in @boards %>
		<tr>
			<td><%= link_to item.name, item_path(item) %></td>
			<% if item.current_price.nil? %>
				<td>N/A</td>
			<% else %>
				<td><%= number_to_currency(item.current_price) %></td>
			<% end %>
			<td><%= number_with_delimiter(item.inventory_level) %></td>
			<td><a class="waves-effect waves-teal btn" <%= link_to "Edit", edit_item_path(item) %> </a></td>
		</tr>
		<% end %>
	</tbody>
</table>