<div id="levels_and_history">
	<% if logged_in? && (current_user.role?(:admin) || current_user.role?(:manager)) %>
		<div class="row">
			<%= render partial: 'wholesale_price_table' %>
			<%= render partial: 'manufacturer_price_table' %>
		</div>
	<% end %>
</div>