<div id="levels_and_history">
	<% if logged_in? && (current_user.role?(:admin) || current_user.role?(:manager)) %>
		<div class="row">
			<%= render partial: 'wholesale_price_table' %>
			<%= render partial: 'manufacturer_price_table' %>
		</div>
			<%= link_to(new_item_price_path(item_id: @item.id), id:'new_price_link', remote: true) do %>
      	Add New Price
    	<% end %>
	<% end %>
</div>