<% unless @similar_items.empty? %>
  <div class="panel clearfix">
    <h3>Similar Items</h3>
    <ul>
      <% @similar_items.each do |item| %>
        <li><%= link_to item.name, item_path(item) %></li>
      <% end %>
    </ul>
  </div>
<% end %>