<div class="row">
  <div class="small-7 columns">
    <%= render :partial => "item_details" %>
  </div>
  <div class="small-5 columns">
    <%= render :partial => "price_history" unless @price_history.empty?%>
    <%= render :partial => "similar_items" unless @similar_items.empty?%>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %>